[submodule "LogNPass-app"]
	path = LogNPass-app
	url = https://github.com/DeveloppeurPascal/LogNPass-app.git
[submodule "Fie-Frapic"]
	path = Fie-Frapic
	url = https://github.com/DeveloppeurPascal/Fie-Frapic.git
[submodule "My-day-in-pictures"]
	path = My-day-in-pictures
	url = https://github.com/DeveloppeurPascal/My-day-in-pictures.git
[submodule "Promo-Verif"]
	path = Promo-Verif
	url = https://github.com/DeveloppeurPascal/Promo-Verif.git
[submodule "WtCtS"]
	path = WtCtS
	url = https://github.com/DeveloppeurPascal/WtCtS.git
[submodule "COVID-ContactTracing-RestauBar"]
	path = COVID-ContactTracing-RestauBar
	url = https://github.com/DeveloppeurPascal/COVID-ContactTracing-RestauBar.git
